# Node modules
node_modules/

# Build output
dist/
# src/assets/
z-assets

# Log files
*.log

# Environment variables
.env

# IDE settings
.vscode/

# Temp server files

tempServer.js

# unuse files

temp.jsx
z-temp.html
z-Postgresql.txt
z-git commands.md
z-plan.txt
z-one.tldr
z-redis commands.md

tmp_uploads
RECOVERYKEY.txt