# Node modules
node_modules/

# Build output
dist/
src/assets/

# Log files
*.log

# Environment variables
.env

# IDE settings
.vscode/

# Temp server files

tempServer.js

# unuse files

temp.jsx
temp.html
Postgresql.txt
git commands.txt
plan.txt
one.tldr

tmp_uploads
