# Node modules
node_modules/

# Build output
dist/
src/assets/

# Log files
*.log

# Environment variables
.env

# IDE settings
.vscode/

# Temp server files

tempServer.js

# unuse files

temp.jsx
z-temp.html
z-Postgresql.txt
z-git commands.txt
z-plan.txt
z-one.tldr

tmp_uploads
RECOVERYKEY.txt